# Laravel directories to ignore
vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.env.*.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
storage/*.key
storage/framework/cache/data/*
storage/debugbar/*
storage/logs/*
storage/temp/*
bootstrap/cache/*.php

# OS / IDE / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea
*.vscode
*.sublime*
*.log

# Git
.git
.gitignore

# Docker
docker-compose.override.yml
Dockerfile*

# Optional: ignore tests if you don't need them in the image
tests/
